/** Regra CSS

    seletor {
        propriedade1: valor;
        propriedade2: valor;
        propriedade3: valor;
    }
    */

h1{
    color: yellow;
<<<<<<< HEAD
}
p{color: brown;}
=======
}
>>>>>>> 3d3ac31d86f6c5be3c7ff1b071dc3466b59952e0
